asgiref==3.9.1
Django==5.2.4
pillow==11.3.0
PyMySQL==1.1.2
sqlparse==0.5.3
tzdata==2025.2
django-cors-headers==4.6.0
gunicorn==23.0.0
google-genai==1.7.0
python-dotenv==1.1.0
youtube-transcript-api==0.6.3